* {
    box-sizing: border-box;
  }
  
body {
    font-family: Arial;
    margin: 0;
    background-color: var(--dark);
    font-size: 75%;
  }

header {
  text-align: center;
  margin: 0;
  padding: 3rem;
  align-content: center;
 
}

h1 {
  width: 100%;
  color: var(--pink);
  font-size: 3rem;
  margin-bottom: 2%;
  
}

header p {
  color: var(--white);

}

main {
  margin-top: 2%;
  width: 96%;
}

main p {
  color: var(--pink);
  margin: 15px;
}

.flex-row {
  margin-top: 5%;
  padding: 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
  
.code-box {
    display: flex;
    flex-direction: column;
    border-style: dashed;
    border-color: white;
    width: 33.33%;
    height: 100%;
    margin: 10px;
    flex: 1 0 30%;
   
}

.box-title {
  position: relative;
  color: var(--pink);
  margin-top: -20px;
  border: var(--white);
  border-style: solid;
  border-radius: 10px;
  padding: 10px;
  text-align: left;
  background: var(--dark);
  
}

div h2 {
  margin: 5px;
}

pre {
  margin: 15px;
  display: flex;
  align-items: center;
  align-content: flex-start;
}

.linear-gradient-background {
  background-image: linear-gradient(
    rgba(232, 102, 236, 0.3) 0%,
    rgba(232, 102, 236, 0.6) 100%
  );
  border-radius: 10px;
 

}

code {
  color: var(--white);
  font-family: monospace;
  line-height: 1.5;
}

h3 {
  color: var(--pink); 
}

.heart {
  color: none;
}


@media screen and (max-width: 992px) {
  .code-box {
    width: 50%;
  }

}

@media screen and (max-width: 768px) {
  .code-box {
    width: 100%;
  }
}